<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile</h1>
    <!-- text input is allowed, as it doesn't contain the disabled attribute -->
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="text" name="nama" placeholder="Nama"><br><br>
	<input type="radio" name="jeniskelamin">Laki-laki
	<input type="radio" name="jeniskelamin">Perempuan<br><br>
		<textarea name="asal_kota" rows="5" placeholder="Asal Kota"></textarea><br><br>
    <p></p>
  </body>
</html>


